# backend
# Google Authentication Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Session Security
SECRET_KEY=

# AI Copilot Key
GEMINI_API_KEY=

# Admin Access (Comma-separated GM emails)
GM_EMAILS=

# Premium Access (Comma-separated PREMIUM emails)
PREMIUM_EMAILS=

# Frontend Internal URL (Where Backend redirects to)
FRONTEND_URL=http://localhost:3000

# GitHub Integration
GITHUB_REPO=terranandes/martian
GITHUB_TOKEN=

# frontend
# API URL exposed to Browser
NEXT_PUBLIC_API_URL=http://localhost:8000
