# Google Authentication Credentials
# Get these from: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=1009725210430-ous6uqh499d5k8afqgv92ap61342q56m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Session Security (Generate a random string)
SECRET_KEY=WISH_MARTIAN_A_GREAT_SECRET

# AI Copilot Key (Optional, user can also set in UI)
GEMINI_API_KEY=
